<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-wrapper">

    <ion-card class="detail-card">

      <ion-text>
        <h3>Welcome {{ username }}!</h3>
      </ion-text>
      <ion-text>
        <p><strong>Username : </strong>{{ username }}</p>
        <p><strong>Password : </strong>{{ password }}</p>
      </ion-text>

      <ion-button type="submit" (click)="goBack()">Back to Login</ion-button>
    </ion-card>
  </div>
</ion-content>
